table {
    border-collapse: collapse;
    background-color: white;
}

tr:nth-child(odd) {
    background-color: lightblue;
}
tr:nth-child(even) {
    background-color: darkgrey;
}
tr {
    width: 100%;
}
